{{ define "main" }}

<div class="intro">
  <div class="copy-wrapper">
    <h1>Hand-crafted decorations and business gifts</h1>
    <h2>by <span>Factorem</span></h2>
  </div>
  <img src="img/intro.jpg" alt="Faktorem intro image">
</div>

<section class="section has-background-color">
  <div class="section-wrapper">
    <h2>Wall Deco</h2>
    <p>Our minimal wall decorations will make your office pop. These stunning artworks come in different materials and
      sizes. What is your pick?</p>
    <div class="owl-carousel owl-theme">
      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>

      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>

      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-wrapper">
    <h2>Custom engraving and cut</h2>
    <p>If you need a custom shape, pattern or
      engraving, we can help you. Imagination is the only limitation so here are some ideas to get your creative juices flowing.</p>
    <h3>Logos · Retail Props · Business Cards · Anything!</h3>
    <div class="owl-carousel owl-theme">
      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>

      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>

      <div class="owl-carousel-1">
        <div class="owl-carousel-1-overlay">
          <span class="title">World Map</span>
          <span class="price">from 290€</span>
        </div>
        <img src="img/world-map.jpg" class="render" alt="">
        <img src="img/world-map-render.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-wrapper">
    <h2>Orders & Questions</h2>
    <p>If you want to order, please send us a query on <a href="mailto:hello@faktorem.com">hello@faktorem.com</a>. If you have any question, don't hesitate to ask!</p>
  </div>
</section>
<footer>
  <div class="left">
    <div>
      <h3>Faktorem Oy</h3>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/tos">Terms of Use</a></li>
      </ul>
    </div>
    <div>
      <h3>Contact</h3>
      <ul>
        <li><a href="mailto:hello@faktorem.com">hello@faktorem.com</a></li>
        <li>+385400275564</li>
      </ul>
    </div>
  </div>
  <div class="stacked">
    <span>Designed with ❤️ in Finland 🇫🇮</span>
    <span class="copy">Copyright 2019 Faktorem Oy. All rights reserved.</span>
  </div>
</footer>
{{ end }}