{{ define "main" }}

<div class="intro">
    <div class="copy-wrapper">
        <h1>Hand-crafted decorations and business gifts</h1>
        <h2>by <span>Factorem</span></h2>
    </div>
    <img src="img/intro.jpg" alt="Faktorem intro image">
</div>

<section class="section">
    <div class="section-wrapper">
        <h2>Wall Deco</h2>
        <p>Our minimal wall decorations will make your office pop. These stunning artworks come in different materials and
        sizes. What is your pick?</p>
        <div class="owl-carousel owl-theme">
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
        </div>
    </div>
</section>

{{ end }}